.counter  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    height: 400px;
    width: 500px;
margin-left: 500px;
margin-top: 60px;
}
h1{
    margin-top: -100px;
}
.increment>button{
    background-color:#20e30e;

}
.decrement>button{
    background-color: #e30e0e;
}

.text p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -130px;
    font-size: medium;
    font-weight: 200;

}
